<!doctype html>
<html>
  <head>
    <title>About <%=clinicData.clinicName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=clinicData.clinicName%></h1>
    <main>
      <section class="about-container">
        <h1>About Our Clinic</h1>
        
        <p>Welcome to our healthcare platform! We are committed to providing the best medical services to our patients.</p>
        
        <h2>Our Mission</h2>
        <p>Our mission is to ensure timely and effective healthcare through innovative solutions and patient-centered care.</p>
        
        <h2>Our Team</h2>
        <p>We have a dedicated team of medical professionals, including doctors, nurses, and support staff, all committed to your well-being.</p>
        
        <h2>Contact Information</h2>
        <p>Email: info@clinic.com</p>
        <p>Phone: 07123456789</p>
      </section>
    </main>

  <footer>
    <p>&copy; <%= new Date().getFullYear() %> Our Clinic. All Rights Reserved.</p>
  </footer>
  </body>
</html>