<!doctype html>
<html>
  <head>
    <title>Register for</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
   
    <% if(message) { %>
        <p class="error-box"><%= message %></p>
    <% }%>

    <h1>Login for</h1>
    <form method="POST" action="/login/loggedin">
        <p>Username: <input id="username" type="text" name="username" value="<%= typeof formData !== 'undefined' ? formData.username : '' %>" required/></p>
        <p>Password: <input id="password" type="password" name="password" required/></p>
        <input type="submit" value="Login" />
    </form>

    <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
      <div class="error-box">
        <% errors.forEach(err => { %>
          <p><%= err.msg %></p>
        <% }) %>
      </div>
    <% } %>
  </body>
</html>